<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HomePage</title>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script src="https://kit.fontawesome.com/2087e648a1.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="../Style/HomePage.css">
</head>
<body>
    <div class="container-fluid p-0">
        <header id="header">
            <div class="row">
                <div class="w-100 text-center">Chào mừng bạn đến với website</div>
            </div>
            <div class="row">
                <div class="logo">

                </div>
                <div class="">
                    <form action="" method="post">
                        <input type="search" placeholder="Tìm sản phẩm">
                        <button type="submit" value="Tìm kiếm" class="ux-search-submit submit-button secondary button icon mb-0">
                            <i class="fa-solid fa-magnifying-glass"></i>
                        </button>
                    </form>
                </div>
                <div class="">
                    <ul class="">
                        <li class="">
                            <a href="#" title="Giỏ hàng" class="">
                                <span class="">Giỏ hàng </span>
                            </a>
                            <ul class="">
                                <li class="">
                                    <div class="">
                                        <p class="">Chưa có sản phẩm trong giỏ hàng.</p>
                                    </div>
                                </li>
                            </ul>
                        </li>
                        <li class="">
                            <a href="#" class="" data-open="#login-form-popup">
                                <i class=""></i>
                                <span>Đăng nhập </span>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </header>
    </div>
</body>
</html>