#header {
    background-color: rgba(0, 0, 0, 0.918);
    color: #fff;
    height: 200px;
}
.top_header
{
    height: 50px;
}
.nav-dropdown{
    font-size: 100%;
    position: absolute;
    min-width: 260px;
    max-height: 0;
    z-index: 9;
    opacity: 1;
    margin: 0;
    transition: opacity .25s;
    color: #777;
    background-color: #fff;
    text-align: left;
    display: table;
    left: -99999px;
    border-radius: 10px;
}

.ul
{
    list-style-type: none;
    margin: 0; padding: 0;
    overflow: hidden;
}
.ul > .li
{
    float: right;
}
.ul > .li > .a
{
    display: block;
    text-decoration: none;
    color: white;
    padding-right: 16px;
}
.ul > .li > .a:hover
{
    font-weight: bold;
}
.bar_background
{
    background-color: rgba(0, 0, 0, 0.5);
    height: 50px;
    margin-bottom: 0;
    margin: 0;
}
.bar_search_backgroud
{
    height: 100px;
    background-color: red;
}
.bar_search
{
    background-color: white;
    width: 85%;
    height : 60px;
    border-radius: 10px 0 0 10px;
    margin-top: 15px;
    margin-right: 0;
}
.login_button
{
    background : rgba(0, 0, 0, 0.89);
    color: white;
    border: 2px solid white;
    width:120px; height: 50px;
    border-radius: 10px;
    float: right;
    margin-right: 10px;
    margin-top: 10px;
}
.login_button:hover
{
    background-color: white;
    color: black;
    border: 2px solid black;
}
.search_button
{
    margin: 0; padding-bottom: 15px;
    height: 60px; width: 60px;
    background-color: #2c2c2c;
}
.brand 
{
	text-align: center;
	font-size: 50px;
	color: #2c2c2c;
	letter-spacing: .05em;
	text-shadow: 4px 4px 0px #d5d5d5, 7px 7px 0px rgba(0, 0, 0, 0.2);
	height: 100px; padding: 0;
}